<%= render 'home/navbar' %>

<div class="insert-notion-container" data-controller="notion-table">
  <h2 class="insert-heading">Insert into Notion</h2>  
 
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <% @data.first.keys.each do |column| %>
            <th scope="col"><%= column %></th>
          <% end %>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody data-notion-table-target="dataTableBody">
        <% @data.each do |row| %>
          <tr>
            <% row.each do |_, value| %>
              <td><%= value.present? ? value : '-' %></td>
            <% end %>
            <td></td>
          </tr>
        <% end %>        
        <template data-notion-table-target="newRowTemplate">          
          <tr>
            <% @data.first.keys.each do |column| %>
              <% data_type = @properties[column] %>
              <% if data_type %>
                <td>
                  <input type="text" class="form-control" name="new_<%= column %>" data-type="<%= data_type %>">
                </td>
              <% end %>
            <% end %>
            <td>
              <button type="button" class="btn btn-primary btn-sm" id="addRowBtn">Add</button>
              <button type="button" class="btn btn-danger btn-sm remove-row">Remove</button>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
 
  <button type="button" style="margin-top:20px;" class="btn btn-primary" data-target="notion-table.addButton" data-action="notion-table#addRow">Create entry</button>
  
  <%= form_with url: create_in_notion_notion_database_index_path, method: :post, id: "new-entry-form" do |f| %>
    <%= f.hidden_field :database_id, value: @database_id, data: { target: "notion-table.databaseId" } %>
    <div id="new-entries-container" data-notion-table-target="newEntriesContainer"></div>   
  <% end %>
</div>

<%= tag.div(flash[:alert], style: "color:red", class: "flash-danger") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green", class: "flash-success") if flash[:notice] %>
